# User files to ignore
*.zip

# Output directories
AuditReports/
Reports/

# PowerShell
*.ps1.xml
*.ps2
*.ps2.xml
*.psc1
*.psd1.xml
*.psm1.xml
*.pssc
*.pssession
*.fmt
*.pdb

# Editor
.vscode/
.idea/
